@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --secondary-background: 0 0% 97%;
    --secondary-foreground: 210 3% 41%;
    --border: 210 8% 91%;
  }
}

body {
  color: hsl(var(--secondary-foreground));
  background: hsl(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
